.content {
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1em;
  }
  a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }
  code {
    font-size: 16px;
    background-color: var(--blue15);
    padding: 1px 8px;
    white-space: nowrap;
    @media only screen 
      and (max-width: 479px) {
        font-size: 13px;
        line-height: 22px;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 2em;
    letter-spacing: -0.2px;
    line-height: 26px;
    @media only screen 
      and (max-width: 479px) {
        font-size: 13px;
        line-height: 22px;
    }
  }
  pre {
    padding: 16px;
    overflow: auto;
    margin-bottom: 2em;
    background-color: var(--blue15);
    code {
      background-color: unset;
      padding: unset;
      white-space: unset;
    }
  }

  ol, ul {
    list-style-position: inside;
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
  }
}
