body footer {
  margin-top: 64px;
  text-align: center;
  padding-bottom: 40px;

  @media only screen 
    and (min-width: 480px) {
      display: flex;
      text-align: left;
  }
}
#footer-logo-group {
  position: relative;
  width: 72px;
  height: 72px;
  min-width: 72px;
  min-height: 72px;
  @media only screen 
    and (max-width: 479px) {
      margin: auto;
      margin-bottom: 12px;
  }
}

#footer-logo-base-rect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  border-radius: 14px;
  z-index: 1;
}

#footer-logo-base-circle {
  top: 0;
  height: 52px;
  width: 52px;
  left: calc(50% - 26px);
}

#footer-logo-base-circle, #footer-logo {
  position: absolute;
  border-radius: 50%;
}

#footer-logo-base-rect, #footer-logo-base-circle {
  border: 2px solid var(--blue);
  box-sizing: border-box;
  background-color: var(--offwhite);
}

#footer-logo {
  width: 48px;
  height: 48px;
  z-index: 2;
  left: calc(50% - 24px);
  top: 2px;
}

#footer-text {
  position: absolute;
  width: 68px;
  left: 2px;
  height: 28px;
  bottom: 2px;
  z-index: 2;
  text-align: center;
  line-height: 10px;

  .text-logo, .copyright {
    font-size: 10px;
    display: inline-block;
    line-height: 11px;
  }

  .text-logo {
    letter-spacing: -1px;
  }
}

#footer-about {

  @media only screen 
    and (min-width: 480px) {
      padding-left: 24px;
  }
}
