header {
  display: flex;
  justify-content: center;
}

@media only screen 
and (min-width: 720px) {
  #main-nav {
    margin-top: 48px;
    display: flex;
    height: 36px;
    max-width: 650px;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: bold;
    border: 2px solid var(--blue);
    border-radius: 11px;
  }
  
  .main-nav__link {
    margin-left: 28px;
    margin-right: 28px;
  }
  
  // https://stackoverflow.com/a/27769435
  #header-text-logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  #header-logo {
    width: 125px;
    height: 125px;
    border: 2px solid var(--blue);
    border-radius: 50%;
  }
}

@media only screen 
and (max-width: 719px) {
  header {
    width: 100%;
    position: fixed;
    padding-top: 6px !important;
    padding-bottom: 0px !important;
    background-color: var(--offwhite);
    z-index: 3;
  }
  #menu-button {
    height: 46px;
    width: 46px;
    position: fixed;
    top: 0;
    right: 20px;
    background-image: url("/img/menu.svg");
    background-position-x: right;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
  }

  #main-nav {
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 1px var(--blue15);
    height: 46px;
    .main-nav__link {
      display: none;
      visibility: hidden;
    }
    #main-nav__home-link {
      display: flex;
      width: 100%;
      padding-right: 40px;
      visibility: visible;
      justify-content: center;
    }
  }

  #main-nav.mobile {
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 1px 1px var(--blue15);
    flex-wrap: wrap;
    align-content: center;
    #header-text-logo {
      display: none;
    }
    #header-logo {
      display: inline-block;
    }
    #main-nav__home-link {
      padding-right: 20px;
      order: 1;
    }
    .main-nav__link {
      display: block;
      visibility: visible;
      padding: 16px;
      width: 100%;
      order: 2;
      text-align: center;
    }
  }

  #header-text-logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -2px;
    order: 2;
    width: 100%;
    text-align: center;
  }

  #header-logo {
    min-width: 40px;
    width: 40px;
    height: 40px;
    order: 1;
  }
}
