@import 'content';
@import 'footer';
@import 'home';
@import 'list';
@import 'nav';
@import 'series';
@import 'single';
@import 'tag-page';

:root {
  --offwhite: #fef3eb;
  --blue: rgba(18, 55, 136);
  --blue80: rgba(18, 55, 136, 0.8);
  --blue50: rgba(18, 55, 136, 0.5);
  --blue15: rgba(18, 55, 136, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Space Mono', monospace;
  background-color: var(--offwhite);
  color: var(--blue);
}

header,
main,
footer {
  max-width: 960px;
  padding: 20px;
  margin: auto;
}

.logo {
  background-size: contain;
  background-image: url("/img/logo.png");
  background-color: var(--offwhite);
  background-blend-mode: darken;
  outline: none;
}

.text-logo {
  font-weight: bold;
  letter-spacing: -20%;
}

a {
  color: inherit;
  text-decoration: none;
}

.tag {
  display: inline-block;
  padding: 0px 6px;
  background-color: var(--blue15);
  border-radius: 1px;
  margin-right: 8px;
}

.tag-list {
  margin: auto;
  max-width: 920px;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
}


ul {
  list-style: circle;
}

.title {
  margin-top: 48px;
}
