@charset "UTF-8";
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-bottom: 1em; }

.content a {
  text-decoration-line: underline;
  text-decoration-style: dashed; }

.content code {
  font-size: 16px;
  background-color: var(--blue15);
  padding: 1px 8px;
  white-space: nowrap; }
  @media only screen and (max-width: 479px) {
    .content code {
      font-size: 13px;
      line-height: 22px; } }
.content p {
  font-size: 16px;
  margin-bottom: 2em;
  letter-spacing: -0.2px;
  line-height: 26px; }
  @media only screen and (max-width: 479px) {
    .content p {
      font-size: 13px;
      line-height: 22px; } }
.content pre {
  padding: 16px;
  overflow: auto;
  margin-bottom: 2em;
  background-color: var(--blue15); }
  .content pre code {
    background-color: unset;
    padding: unset;
    white-space: unset; }

.content ol, .content ul {
  list-style-position: inside;
  margin-bottom: 1em; }

.content img {
  max-width: 100%; }

body footer {
  margin-top: 64px;
  text-align: center;
  padding-bottom: 40px; }
  @media only screen and (min-width: 480px) {
    body footer {
      display: flex;
      text-align: left; } }
#footer-logo-group {
  position: relative;
  width: 72px;
  height: 72px;
  min-width: 72px;
  min-height: 72px; }
  @media only screen and (max-width: 479px) {
    #footer-logo-group {
      margin: auto;
      margin-bottom: 12px; } }
#footer-logo-base-rect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  border-radius: 14px;
  z-index: 1; }

#footer-logo-base-circle {
  top: 0;
  height: 52px;
  width: 52px;
  left: calc(50% - 26px); }

#footer-logo-base-circle, #footer-logo {
  position: absolute;
  border-radius: 50%; }

#footer-logo-base-rect, #footer-logo-base-circle {
  border: 2px solid var(--blue);
  box-sizing: border-box;
  background-color: var(--offwhite); }

#footer-logo {
  width: 48px;
  height: 48px;
  z-index: 2;
  left: calc(50% - 24px);
  top: 2px; }

#footer-text {
  position: absolute;
  width: 68px;
  left: 2px;
  height: 28px;
  bottom: 2px;
  z-index: 2;
  text-align: center;
  line-height: 10px; }
  #footer-text .text-logo, #footer-text .copyright {
    font-size: 10px;
    display: inline-block;
    line-height: 11px; }
  #footer-text .text-logo {
    letter-spacing: -1px; }

@media only screen and (min-width: 480px) {
  #footer-about {
    padding-left: 24px; } }

.list-label {
  text-transform: lowercase;
  font-style: italic;
  margin-top: 64px; }

a.more {
  position: absolute;
  height: 32px;
  right: 24px;
  bottom: -16px;
  background-color: var(--blue);
  border-radius: 11px;
  padding-right: 8px; }

.more__text {
  background-color: var(--offwhite);
  border-radius: 11px;
  box-sizing: border-box;
  border: 2px solid var(--blue);
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  height: 32px;
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 6px; }

img.more__arrow {
  display: inline;
  vertical-align: middle; }

.list {
  position: relative;
  border-bottom-color: var(--blue);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: var(--blue);
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 8px; }

.list-item {
  margin-bottom: 16px;
  padding-top: 24px; }

.list-item + .list-item {
  border-top: 1px dashed var(--blue); }

.list-item__meta {
  font-size: 12px;
  color: var(--blue80);
  line-height: 28px; }

.list-item__meta__date {
  letter-spacing: -0.5px; }

.list-item__title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  vertical-align: middle; }

header {
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 720px) {
  #main-nav {
    margin-top: 48px;
    display: flex;
    height: 36px;
    max-width: 650px;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: bold;
    border: 2px solid var(--blue);
    border-radius: 11px; }
  .main-nav__link {
    margin-left: 28px;
    margin-right: 28px; }
  #header-text-logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  #header-logo {
    width: 125px;
    height: 125px;
    border: 2px solid var(--blue);
    border-radius: 50%; } }

@media only screen and (max-width: 719px) {
  header {
    width: 100%;
    position: fixed;
    padding-top: 6px !important;
    padding-bottom: 0px !important;
    background-color: var(--offwhite);
    z-index: 3; }
  #menu-button {
    height: 46px;
    width: 46px;
    position: fixed;
    top: 0;
    right: 20px;
    background-image: url("/img/menu.svg");
    background-position-x: right;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat; }
  #main-nav {
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 1px var(--blue15);
    height: 46px; }
    #main-nav .main-nav__link {
      display: none;
      visibility: hidden; }
    #main-nav #main-nav__home-link {
      display: flex;
      width: 100%;
      padding-right: 40px;
      visibility: visible;
      justify-content: center; }
  #main-nav.mobile {
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 1px 1px var(--blue15);
    flex-wrap: wrap;
    align-content: center; }
    #main-nav.mobile #header-text-logo {
      display: none; }
    #main-nav.mobile #header-logo {
      display: inline-block; }
    #main-nav.mobile #main-nav__home-link {
      padding-right: 20px;
      order: 1; }
    #main-nav.mobile .main-nav__link {
      display: block;
      visibility: visible;
      padding: 16px;
      width: 100%;
      order: 2;
      text-align: center; }
  #header-text-logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -2px;
    order: 2;
    width: 100%;
    text-align: center; }
  #header-logo {
    min-width: 40px;
    width: 40px;
    height: 40px;
    order: 1; } }

.series h1, .series h2, .series h3, .series h4, .series h5, .series h6 {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 24px; }

.series .title,
.series .about {
  text-align: center;
  margin-top: 48px; }

.series .title {
  margin-bottom: 24px; }

.series .about {
  margin-bottom: 40px; }
  .series .about p {
    margin-bottom: 24px; }

.series .pre-info, .series .what-you-will-build {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap; }

.series .pre-info__item, .series .what-you-will-build__item {
  width: 31%; }
  @media only screen and (max-width: 920px) {
    .series .pre-info__item, .series .what-you-will-build__item {
      width: 100%;
      text-align: center; } }
.series .what-you-will-build__item__image {
  width: 100%;
  height: 181px;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--blue);
  background-color: var(--offwhite);
  background-blend-mode: darken; }

.series .what-you-will-build__item__name {
  font-size: 20px;
  font-weight: 700; }

.series .syllabus__chapter {
  background-color: var(--blue);
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 8px; }
  @media only screen and (max-width: 480px) {
    .series .syllabus__chapter {
      min-width: 100%;
      flex-wrap: wrap; } }
.series .syllabus__chapter__name {
  min-width: 60px;
  text-transform: uppercase;
  color: var(--offwhite);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px; }
  @media only screen and (max-width: 480px) {
    .series .syllabus__chapter__name {
      min-width: 100%; } }
.series .syllabus__chapter__posts {
  flex-grow: 1; }

.series .chapter-item {
  display: block;
  background-color: var(--offwhite);
  border-radius: 16px;
  font-size: 20px;
  line-height: 36px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 700;
  margin-bottom: 6px;
  position: relative;
  padding-right: 44px; }
  @media only screen and (max-width: 480px) {
    .series .chapter-item {
      font-size: 16px;
      line-height: 20px;
      border-radius: 11px;
      letter-spacing: -0.5px;
      padding-top: 6px;
      padding-bottom: 6px; } }
  .series .chapter-item::after {
    content: url(/img/arrow.svg);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: 2px solid var(--offwhite);
    border-radius: 16px;
    box-sizing: border-box;
    background-color: var(--blue);
    color: var(--offwhite);
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .series .chapter-item::after {
        width: 32px;
        height: 32px;
        border-radius: 11px;
        content: "→";
        line-height: 28px; } }
.series .chapter-item__reading-time {
  color: var(--blue50);
  margin-left: 16px; }

.series .software {
  font-size: 12px;
  text-align: center; }

.series-post-header {
  border: 1px dashed var(--blue);
  padding: 16px 24px;
  margin-bottom: 1em;
  border-radius: 20px; }

.series-post-header__series-title {
  font-style: italic;
  font-weight: 700;
  text-decoration: underline; }

#series-navigation {
  display: flex;
  justify-content: space-between; }
  #series-navigation a.next, #series-navigation a.prev {
    max-width: 48%;
    word-wrap: break-word; }
  #series-navigation a.next {
    text-align: right; }
  #series-navigation a.prev {
    text-align: left; }
  #series-navigation .next-button, #series-navigation .prev-button {
    height: 32px;
    background-color: var(--blue);
    border-radius: 11px;
    width: max-content;
    display: inline-block;
    margin-bottom: 6px; }
  #series-navigation .prev-button {
    padding-left: 8px; }
  #series-navigation .next-button {
    padding-right: 8px; }
  #series-navigation .next__text, #series-navigation .prev__text {
    background-color: var(--offwhite);
    border-radius: 11px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    height: 32px;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px; }
  #series-navigation .prev__text {
    margin-left: 6px; }
  #series-navigation .next__text {
    margin-right: 6px; }
  #series-navigation img.prev__arrow, #series-navigation img.next__arrow {
    display: inline;
    vertical-align: middle; }
  #series-navigation img.prev__arrow {
    transform: rotate(180deg); }
  #series-navigation .prev__title, #series-navigation .next__title {
    color: var(--blue50);
    font-size: 14px;
    display: flex; }
    #series-navigation .prev__title .chapter-order, #series-navigation .next__title .chapter-order {
      font-weight: 700; }
      @media only screen and (max-width: 720px) {
        #series-navigation .prev__title .chapter-order, #series-navigation .next__title .chapter-order {
          display: none; } }
  #series-navigation .next__title .chapter-order {
    margin-left: 14px; }
  #series-navigation .prev__title .chapter-order {
    margin-right: 14px; }

.single {
  margin-top: 64px; }
  .single .title {
    margin-top: 0px;
    margin-bottom: 8px; }

.content {
  margin-bottom: 36px; }

.page-meta {
  font-size: 12px;
  margin-bottom: 1em; }

.tag-page .title {
  text-align: center; }

.tag-page .title-tag {
  padding: 3px 14px;
  border-radius: 2px; }

.tag-page .list-item__kind {
  text-transform: uppercase; }

.tag-page .list-item__kind-series {
  padding: 3px 9px; }

.tag-page .list-item__kind-series,
.tag-page .list-item__kind-postseries-series {
  background-color: var(--blue);
  color: var(--offwhite);
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px; }

.tag-page .list-item__kind-postseries-post,
.tag-page .list-item__kind-postseries-series {
  font-size: 12px;
  font-weight: 700; }

.tag-page .list-item__kind-postseries-series {
  padding: 3px 5px;
  padding-right: 6px; }

.tag-page .list-item__kind-postseries-post {
  padding: 1px 5px;
  padding-left: 6px;
  border: 2px solid var(--blue); }

.tag-page .list-item__kind-postseries-post,
.tag-page .list-item__kind-postseries-series,
.tag-page .list-item__kind-series {
  white-space: nowrap; }

.tag-page .list-item__title {
  word-wrap: break-word; }

:root {
  --offwhite: #fef3eb;
  --blue: rgba(18, 55, 136);
  --blue80: rgba(18, 55, 136, 0.8);
  --blue50: rgba(18, 55, 136, 0.5);
  --blue15: rgba(18, 55, 136, 0.15); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Space Mono', monospace;
  background-color: var(--offwhite);
  color: var(--blue); }

header,
main,
footer {
  max-width: 960px;
  padding: 20px;
  margin: auto; }

.logo {
  background-size: contain;
  background-image: url("/img/logo.png");
  background-color: var(--offwhite);
  background-blend-mode: darken;
  outline: none; }

.text-logo {
  font-weight: bold;
  letter-spacing: -20%; }

a {
  color: inherit;
  text-decoration: none; }

.tag {
  display: inline-block;
  padding: 0px 6px;
  background-color: var(--blue15);
  border-radius: 1px;
  margin-right: 8px; }

.tag-list {
  margin: auto;
  max-width: 920px;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue); }

ul {
  list-style: circle; }

.title {
  margin-top: 48px; }
