{{ define "main" }}
  <div class="tag-page">
    <h1 class="title">tag: <span class="tag title-tag">{{ .Title }}</span></h1>
    <div class="content">{{ .Content }}</div>
    <div class="list">
      {{ range .Pages }}
        <div class="list-item">
          <div class="list-item__meta">
              <div>// {{ .Date.Format "2 Jan 06" }}
                {{- partial "tags.html" . -}}
            </div>
          </div>
          {{ if .IsSection -}}
            <a href="{{ .RelPermalink }}">
              <span class="list-item__kind list-item__kind-series">Series</span><span class="list-item__title">{{ .Title }}</span>
            </a>
          {{- else if hasPrefix .File.Dir "series/" -}}
            <a href="{{ .RelPermalink }}"><span class="list-item__kind list-item__kind-postseries-post">Post</span></a><a href="/{{ .File.Dir }}"><span class="list-item__kind list-item__kind-postseries-series">Series ↗</span></a><a href="{{ .RelPermalink }}"><span class="list-item__title">{{ .Title }}</span></a>
          {{- else -}}
            <a href="{{ .RelPermalink }}">
              <span class="list-item__title">{{ .Title }}</span>
            </a>
          {{- end -}}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
