<footer>
    <a href="/">
      <div id="footer-logo-group">
          <div id="footer-logo-base-rect"></div>
          <div id="footer-logo-base-circle"></div>
          <div id="footer-logo" class="logo"></div>
          <div id="footer-text">
            <span class="text-logo">sysfig.dev</span>
            <span class="copyright">{{ time.Now.Year }}</span>
          </div>
      </div>
    </a>
    <div id="footer-about">I am a programmer and DevOps engineer on a quest to make education more accessible for all. <span class="text-logo">sysfig.dev</span> is an outlet for me to share my knowledge on the web, and also to showcase my projects.</div>
</footer>
